/*Navigation*/
.main_nav_cover {
	background-color: #000;
	opacity: 0.6;
	
	z-index: 1000;
	
	height: 40px;
	line-height: 40px;
}
.smartnav .main_nav_cover {border: 0;}
.main_nav_cover #main-menu {
	padding: 0;
	text-align: center;
	
	
	
}
.main_nav_cover #main-menu li {
	line-height: 40px;
	padding: 0 30px;
	display: inline-block;
	position: relative;

}

.main_nav_cover #main-menu li a {
	
	
    color: #fff;
	font-size: 16px;
	padding: 0;
	position: relative;
	text-transform: uppercase;
}

.main_nav_cover #main-menu li a:hover {
	position: relative;
	
	
    color: #ca2017;
	
}
.main_nav_cover #main-menu li ul.sub-menu a {
	text-transform: none;
	
	color: white;
}

.main_nav_cover #main-menu li ul.sub-menu  li:hover {
	text-transform: none;
	background-color: #ca2017;
	opacity: 1;
}
ul.sub-menu {
	
	display: none;
	margin-left: 15px;

}
.main_nav_cover ul.sub-menu {
	background-color: #000;
	
	border: medium none;
	display: none;
	position: absolute;
	text-align: left;
	top: 100%;
	z-index: 9999;
}
.main_nav_cover .menu-item-has-children ul.sub-menu a::before {
	content: none;
}
.main-nav ul li ul.sub-menu li ul.sub-menu {
	left: 100%;
	padding: 0;
	top: 0 !important;
	transform: none;
}
.main_nav_cover ul.sub-menu li ul.sub-menu {
	border-top: 1px solid !important;
}

#sidebar-wrapper .menu-item-has-children a::before {
	color: #888;
	content: "\f078";
	font-family: FontAwesome;
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 5px;
}
#sidebar-wrapper .menu-item-has-children ul.sub-menu a::before {
	content: none;
	
}
.main_nav_cover ul.sub-menu {
	border-top: 0 none;
	left: 50%;
	margin-left: 0;
	min-width: 200px;
	transform: translate(-50%);
	border: 1px solid;
}
.main_nav_cover #main-menu li ul.sub-menu li {
	border-bottom: 1px solid;
	display: block;
	line-height: 35px;
	padding: 0 10px;
}
.main_nav_cover #main-menu li ul.sub-menu li:last-child {
	border: none;
}
ul.sub-menu a::before {
	content: none;
}
.smartnav {
	
  background: #fff none repeat scroll 0 0 !important;
  border-radius: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  left: 0;
  text-align: center;
  z-index: 900;
}






/* calendar */
.button1:hover{
	cursor: pointer;
	color: #cc2127;
}
.calendar {
    margin: auto;
    width: 70%;
    
    background-color: white;
    box-shadow: 0px 0px 1px  rgba(0,0,0,1);
    
}

.month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
    
    padding: 40px 30px;
}

.weekends{
    display: flex;
   
    padding: 10px 0px;
}

.weekends div {
width: 14.3%;
text-align: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 200;
    padding: 10px 0px;
}

.days div{
    width: 14.28%;
    padding: 10px 0px;
    margin-bottom: 10px;
    transition: all 0.4s;

}

.days div:hover{
    background-color: #dfe6e9;
    cursor: pointer;
}

.today{
    background-color: rgba(54, 53, 53, 0.932);
    color: rgb(241, 233, 233);
    border-radius: 10px ;
    font-weight: bold;
}

.prev_date{
    color: #999;
}

#month{
    font-size: 30px;
    font-weight: 500;
}

.next,.prev{
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-size: 20px;
   
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all 0.4s;
    

}

.next:hover,.prev:hover{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.events{
    background-color: #e5633f;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.eventdetail{
    font-size: 20px;
}
.eventD {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 100;
    padding: 10px 0px;
}

.eventD .eventdate{
    color: #e5633f;
    font-size: 20px;

}

#articles {
	
	
	-webkit-animation-name: move;
	-webkit-animation-duration: 16s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: top;
	-webkit-animation-timing-function: linear;
}

#articles:hover {
	-webkit-animation-play-state: paused;
}



@-webkit-keyframes move {
	0% {
		
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-910px);
		
	}
}

.tech-slideshow {
	height: 200px;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow > div {
	height: 200px;
	width: 2526px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
	animation: moveSlideshow 12s linear infinite;
  }
  .tech-slideshow .mover-2 {
	opacity: 0;
	transition: opacity 0.5s ease-out;
	background-position: 0 -200px;
	animation: moveSlideshow 15s linear infinite;
  }
  .tech-slideshow:hover .mover-2 {
	opacity: 1;
  }
  
  @keyframes moveSlideshow {
	100% { 
	  transform: translateX(-66.6666%);  
	}
  }


.content{
	align-content: center;
	width: 300px;
	padding-top:50px;
	
  }
/*FEATURED POST*/
/*slider carausel*/
.section_margin {
	margin-bottom: 30px;
}
.section_margin_20 {
	margin-bottom: 20px;
}
.section_margin_40 {
	margin-bottom: 40px;
}
.section_margin_50 {
	margin-bottom: 50px;
}
#slider-small.carausel_slider {
	margin-right: -0.5rem;
	margin-left: -0.5rem;
}
.carausel_slider p {
	margin: 0;
}
#slider-small .alith_post_thumb {
	float: left;
	margin: 0 15px 0 0;
	width: 80px;
}
.alith_post_title_small {line-height: 1.2;}
.alith_post_title_small .meta {
color: #888;
font-size: 12px;
margin-top: 10px;
text-transform: uppercase;
}
.alith_post_title_small .meta span{margin: 0 10px 0 0;}



/*slider fade*/
.alith_post_thumb_big {
	position: relative;
}
.post_meta_categories_label {
	background: #000 none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
}
.alith_post_thumb_big .post_meta_categories_label {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 10;
}
#slideshow_face .alith_post_title {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 25px;
}
#slideshow_face .post_meta_center {
	border-right: 1px solid #eee;
	color: #888;
	margin-right: 50px;
	padding-right: 30px;
	text-align: center;
	font-size: 12px;
}
#slideshow_face .post_meta_center a {
	color: #000;
	font-size: 14px;
}
#slideshow_face .post_meta_center p {
	margin-bottom: 5px;
}
#slideshow_face .alith_post_except {
	font-size: 16px;
	padding-right: 150px;
}







/* pre Loading......... */

  
.loader {
    z-index: 7700;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%); 
     }

	 /* pre loadind end.... */
	 

	 
/*WIDGETS*/
.sidebar-widget {
	margin: 0 0 30px 0;
}
.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.widget-title-cover {
	line-height: 1;
	margin-bottom: 10px;
	overflow: hidden;
}
.automaticscroll{
	height: 600px;
	overflow-y: hidden;
	overflow-x: hidden;
	
}
h4.widget-title {
	font-size: 16px;
	position: relative;
	text-transform: uppercase;
	display: inline-block;
}
h4.widget-title::after {
	background: #000 none repeat scroll 0 0;
	bottom: 10px;
	content: "";
	display: inline-block;
	height: 1px;
	left: 100%;
	position: absolute;
	width: 100vw;
}
h4.widget-title span {
	padding-left: 15px;
	padding-right: 10px;
}
h4.widget-title span::before {
	background: #000 none repeat scroll 0 0;
	border-radius: 50%;
	content: "";
	height: 8px;
	left: 0;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}
.sidebar_right::after {
	background: #eee none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 1px;
}




/*latest style 1*/
.latest_style_1_item {
	border-bottom: 1px solid #eee;
	overflow: hidden;
	padding: 10px 0;
	position: relative;
	min-height: 80px;
}
.latest_style_1 .latest_style_1_item:last-child {
	border: none;
}
.latest_style_1 .latest_style_1_item:first-child {
	padding-top: 0;
}
.latest_style_1_item span.item-count {
	float: left;
	font-size: 30px;
}
.latest_style_1_item .alith_post_title_small {
	clear: none;
	float: left;
	left: 12%;
	margin-left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
	color: #888;
}
.latest_style_1_item .alith_news_img {
	display: block;
	float: right;
	margin: 0;
	position: relative;
	width: 35%;
}

/*latest style 2*/
.latest_style_2_item_first {
	margin-bottom: 20px;
	overflow: hidden;
}
.latest_style_2_item_first h3.alith_post_title {
	font-size: 18px;
	font-weight: 300;
}
.latest_style_2_item_first {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	overflow: hidden;
	padding-bottom: 10px;
}
.latest_style_2_item {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	overflow: hidden;
	padding-bottom: 20px;
	position: relative;
}
.latest_style_2_item figure {
	display: block;
	float: left;
	margin: 0 15px 0 0;
	position: relative;
	width: 35%;
}
.latest_style_2_item h3.alith_post_title {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}
.latest_style_2 .latest_style_2_item:last-child {
	border-bottom: 0 none;
	margin: 0;
	padding: 0;
}
/*latest style 3*/
.latest_style_3_item {
	border-bottom: 1px solid #eee;
	min-height: 50px;
	overflow: hidden;
	padding: 40px 0;
	position: relative;
}
.latest_style_3_item span.item-count {
	float: left;
	font-size: 30px;
}
.latest_style_3_item .alith_post_title_small {
	clear: none;
	float: left;
	left: 12%;
	margin-left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 90%;
}
.latest_style_3 .latest_style_3_item:last-child {
	border: none;
}











