body {
	background: #ffffff none repeat scroll 0 0;
	color: #000000;
	font-family: 'IBM Plex Serif', serif;
	font-weight: 400;
	line-height: 1.4;
	overflow-x:hidden; 
}
a {
	color: #000000;
	text-decoration: none;
}
strong {
	font-weight: 500;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*COLOR*/
.main_nav,
.header,
.top_bar {
	border-color: #000000 !important;
}
a:focus,
a:hover,
.top_bar .social a:hover i,
.post_meta span a:hover,
.alith_post_content_big_caption a:hover,
a.link-active,
.sticky .alith_post_title a {
	color: #ca2017;
	text-decoration: none;
}
::selection {
	background: #000;
	/* WebKit/Blink Browsers */
	color: #fff;
}
::-moz-selection {
	background: #000;
	/* Gecko Browsers */
	color: #fff;
}
.alith_tagg:hover,
.alith_tagg:focus {
	background: #e5633f;
}
/*Fonts*/
.post_meta_categories_label,
.header .logo,
.alith_heading_patern_2,
.bottom-logo h1.logo,
#slideshow_big .alith_post_title,
.archive-title,
.post_list_big .alith_post_title,
.post-content .alith_post_title,
.single-content h1,
.single-content h2,
.single-content h3,
.single-content h4,
.single-content h5,
.single-content h6,
.dropcap p:first-child::first-letter,
.single-comment-title,
.comment-reply-title {
	font-family: 'Playfair Display', serif;
}

 /* Card styles */
 

/* Card image loading */
 
  
/* single page article */
.borderbox .logo{
	width: 100px;
	height: 100px;
}
.borderbox{
	margin-top: 20px;
    border: 2px solid black;
    width: 100%;
    height: auto;
}

.borderbox .heading,.writer,.logo{
    padding-top: 20px;
    font-style: italic;
}

.borderbox hr{
    width: 100%;
    color: black;
    border: 1px solid;
}

.contentbox{
    padding-right: 20px;
    padding-left: 20px;
}

/* single page article ends */

 

/* Card description */
.card__description { 
	padding: 8px; 
	font-size: 16px; 
} 
  
.card__description.loading { 
	height: 30px;
	width: 100%;
	border-radius: 3px; 
} 
.card__description.loading1 { 
	height: 70px;
	width: 70%;
	margin-left: 10px;
	border-radius: 3px; 
} 
.card__description.loading1 { 
	height: 70px;
	width: 50%;
	margin-left: 10px;
	border-radius: 3px; 
}
.card__description.loading2 { 
	height: 30px;
	width: 70%;
	margin-left: 10px;
	border-radius: 3px; 
}
.card__description.loading3 { 
	height: 40px;
	width: 50%;
	margin-left: 10px;
	border-radius: 3px; 
}
/* The loading Class */
.loading, .loading1,.loading2,.loading3 { 
	position: relative; 
	background-color: #e2e2e2; 
} 

/* The moving element */
.loading1::after,.loading2::after,.loading::after,.loading3::after { 
	display: block; 
	content: ""; 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	transform: translateX(-100%); 
	background: -webkit-gradient(linear, left top, 
				right top, from(transparent),  
				color-stop(rgba(255, 255, 255, 0.2)), 
				to(transparent)); 
				  
	background: linear-gradient(90deg, transparent, 
			rgba(255, 255, 255, 0.288), transparent); 

	/* Adding animation */
	animation: loading 0.8s infinite; 
} 

/* Loading Animation */
@keyframes loading { 
	100% { 
		transform: translateX(100%); 
	} 
} 
/*HEADER*/
/*Topbar*/



#date{
	margin-top: 20px;
}

.margin-15 {
	margin-left: -15px;
	margin-right: -15px;
}
.top_bar {
	border-bottom: 1px solid;
	min-height: 38px;
	line-height: 38px;
	overflow: hidden;
}
.top_bar .social {
	text-align: right;
}
.top_bar .social li {
	display: inline-block;
	margin: 0 0 0 5px;
}

.top_bar .social a i {
	font-size: 30px;
	margin-top: 20px;
}
.top_bar .social a i:hover {
	font-size: 40px;
	margin-top: 20px;
}
.social ul {
	display: inline-block;
}
/*Navigation*/
.main_nav_cover {
	background-color: #000;
	opacity: 0.6;
	
	z-index: 1000;
	
	height: 40px;
	line-height: 40px;
}
.smartnav .main_nav_cover {border: 0;}
.main_nav_cover #main-menu {
	padding: 0;
	text-align: center;
	
	
	
}
.main_nav_cover #main-menu li {
	line-height: 40px;
	padding: 0 30px;
	display: inline-block;
	position: relative;

}

.main_nav_cover #main-menu li a {
	
	
    color: #fff;
	font-size: 16px;
	padding: 0;
	position: relative;
	text-transform: uppercase;
}

.main_nav_cover #main-menu li a:hover {
	position: relative;
	
	
    color: #ca2017;
	
}
.main_nav_cover #main-menu li ul.sub-menu a {
	text-transform: none;
	
	color: white;
}

.main_nav_cover #main-menu li ul.sub-menu  li:hover {
	text-transform: none;
	background-color: #ca2017;
	opacity: 1;
}
ul.sub-menu {
	
	display: none;
	margin-left: 15px;

}
.main_nav_cover ul.sub-menu {
	background-color: #000;
	
	border: medium none;
	display: none;
	position: absolute;
	text-align: left;
	top: 100%;
	z-index: 9999;
}
.main_nav_cover .menu-item-has-children ul.sub-menu a::before {
	content: none;
}
.main-nav ul li ul.sub-menu li ul.sub-menu {
	left: 100%;
	padding: 0;
	top: 0 !important;
	transform: none;
}
.main_nav_cover ul.sub-menu li ul.sub-menu {
	border-top: 1px solid !important;
}

#sidebar-wrapper .menu-item-has-children a::before {
	color: #888;
	content: "\f078";
	font-family: FontAwesome;
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 5px;
}
#sidebar-wrapper .menu-item-has-children ul.sub-menu a::before {
	content: none;
	
}
.main_nav_cover ul.sub-menu {
	border-top: 0 none;
	left: 50%;
	margin-left: 0;
	min-width: 200px;
	transform: translate(-50%);
	border: 1px solid;
}
.main_nav_cover #main-menu li ul.sub-menu li {
	border-bottom: 1px solid;
	display: block;
	line-height: 35px;
	padding: 0 10px;
}
.main_nav_cover #main-menu li ul.sub-menu li:last-child {
	border: none;
}
ul.sub-menu a::before {
	content: none;
}
.smartnav {
	
  background: #fff none repeat scroll 0 0 !important;
  border-radius: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  left: 0;
  text-align: center;
  z-index: 900;
}








#articles {
	
	
	-webkit-animation-name: move;
	-webkit-animation-duration: 16s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: top;
	-webkit-animation-timing-function: linear;
}

#articles:hover {
	-webkit-animation-play-state: paused;
}



@-webkit-keyframes move {
	0% {
		
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-910px);
		
	}
}

.tech-slideshow {
	height: 200px;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow > div {
	height: 200px;
	width: 2526px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
	animation: moveSlideshow 12s linear infinite;
  }
  .tech-slideshow .mover-2 {
	opacity: 0;
	transition: opacity 0.5s ease-out;
	background-position: 0 -200px;
	animation: moveSlideshow 15s linear infinite;
  }
  .tech-slideshow:hover .mover-2 {
	opacity: 1;
  }
  
  @keyframes moveSlideshow {
	100% { 
	  transform: translateX(-66.6666%);  
	}
  }


.content{
	align-content: center;
	width: 300px;
	padding-top:50px;
	
  }
/*FEATURED POST*/












/* pre Loading......... */

  


.loader{
	position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
	

}

.loader > img {
	width: 50px;
	height: 50px;
}
.loadertext{
	margin-top: 10px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}
	 /* pre loadind end.... */
	 

	 















/*Logo*/
.header {
	
	padding: 30px 0;
	text-align: center;
}
.header .logo {
	font-size: 78px;
	letter-spacing: 3px;
	line-height: 1;
	margin: 0 0 10px;
}
.header .tagline {
	font-size: 14px;
	margin: 0;
}
.header .tagline::before {
	background: transparent url("./images/patern-1.png") no-repeat scroll right center;
	content: "";
	display: inline-block;
	height: 10px;
	margin-right: 10px;
	width: 30px;
}
.header .tagline::after {
	background: transparent url("./images/patern-1.png") no-repeat scroll right center;
	content: "";
	display: inline-block;
	height: 10px;
	margin-left: 10px;
	width: 30px;
}

@media (max-width: 400px){
	.header .tagline {
		font-size: 10px;
		
		margin-left: auto;
		margin-right: auto;
	}

}


/* Logo End */

/* Navbar */

.slider{
	margin-top: 50px;
}
.slider > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 100%;
	height: 500px;
    
    
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.sliderimg{
	height: 500px;
}


.slidercaption{
	background-color: black;
	opacity: 0.8;
}

.slidercaption .slidercaptionname{
	font-size: 20px;
}
 
@media(max-width:600px){
	.sliderimg{
		width: 100%;
	}
}





/* Navbar End */

/* Latest Article */

.latesttitle{
	margin-top: 50px;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 28px;

}

.latestArticle{
	
	
	border-left: #000 1px  solid;
	height: auto;
	width: 100%;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.morearticle{
	font-size: 18px;
	text-align: center;
}
.latestArticle .latestcard{
	
	-webkit-box-shadow: 4px 7px 5px 2px rgba(99, 96, 96, 0.75);
	-moz-box-shadow: 4px 7px 5px 2px rgba(99, 96, 96, 0.75);
	box-shadow: 4px 7px 5px 2px rgba(99, 96, 96, 0.75);
	width: 100%;
	margin-top: 20px;
}

.latestArticle .latestcard:hover{
	height: auto;
	color: rgb(102, 99, 99);
	margin-left: 10px;
	cursor: pointer;
	-webkit-box-shadow: 4px 7px 5px 2px rgb(110, 107, 107);
	-moz-box-shadow: 4px 7px 5px 2px  rgb(110, 107, 107);
	box-shadow: 2px 2px 2px 2px  rgb(110, 107, 107);
}

.latestArticle .latestcard .latestname{
	font-size: 12px;
	font-style: italic;
}


.latestArticle .latestcardimg {
	
	width: 100%;
	height: 100px;
	
	
}

.latestArticle .latestcard img{
	margin-top: 5px;
	border-radius: 20%;
	height: 90px;

}

/* latest Article End */
table, th, td {
	border: 1px solid black;
	height: auto;
  }
/* news section */

.newsTitle{

	margin-top: 50px;
	
	font-style: italic;
	
	font-size: 20px;

}

.newsInfo{
	padding-left: 20px;
	padding-top: 20px;
}

.newsInfo .fa{
	font-size: 20px;
}
.newsInfo .newsInfoContent{
	margin-bottom: 30px;
}

.newsContent{
	line-height: 1.5;
}
.newsLink{
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

.newsBox{

	border-left: #000 solid 1px;
	height: auto;
	margin-bottom: 20px;
	margin-left: 15px;
}

.subscribeBox{
	margin-left: 20px;
}

/* news section ends */

img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    
  }
  @media (max-width: 570px) {
      img {
          width: 60%;
          display: block;
          margin-left: auto;
          margin-right: auto;

         
      }
      figcaption {
          width: 100%;
          
          

      }
      
      
  }

  @import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
  .snip1527 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    /* float: left; */
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    margin: 10px 1%;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
  }
  

  .snip1527 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
.snip1527 figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  
  .snip1527 figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.719);
    content: '';
    opacity: 0.8;
    z-index: -1;
  }
  
  .snip1527 .date {
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: -25px;
  }
  
  .snip1527 .date span {
    line-height: 14px;
  }
  
  
  .snip1527 h3,
  .snip1527 p {
    margin: 0;
    padding: 0;
  }
  
  .snip1527 h3 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
  }
  
  .snip1527 p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 0px;
  }
  
  .snip1527 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* position: absolute; */
    z-index: 1;
  }
  
  .snip1527:hover img,
  .snip1527.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .no-expand {
	box-sizing: border-box;
	width: 0px;
	min-width: 100%;}

  #more{
      display: none;
  }


  .infoBox{
	  border-color: #000;
	  border: solid;
	  height: 900px;
	  padding-top: 30px;
	  
	  
	  
  }

  .infoBox p{
	  background-color: black;
	  opacity: 0.7;
	  color: #fff;
	  padding-left: 40px;
	  height: 40px;
	  padding-top: 10px;
  }

  .infoBox .infoBoximg{
	  height: 100px;
	  width: 80%;
	  padding-left: 40px;
	  padding-right: 10px ;
	  
  }

  .infoBox p:hover{
	  background-color:#ca2017;
	  color:black;
	  opacity:0.8;
  }

  @media (max-width:1200px){
	  .infoBox p{
		  font-size: 12px;
		  
	  }
  }

  @media (max-width:1000px){
	.infoBox p{
		padding-left: 10px;
		height: 50px;
		
	}
}

@media (max-width:770px){
	.infoBox {
		width: 60%;
		height: 700px;
		margin-left: 20%;
		margin-right: 20%;

	}

	.infoBox p{
		font-size: 16px;
		padding-left: 60px;
	}
}

  

   .styling p a.edit{
	  color: green;

  }
  .styling p a.delete{
	  color: #ca2017;
  }

  .error{
	  color: red;
  }

  .position{
	  padding-left: 25%;
	  padding-right: 25%;
  }

  /*BOTTOM*/
.bottom {
	border-bottom: 3px solid;
	padding: 30px 0 0;
}
.bottom_menu {
	overflow: hidden;
}
.bottom_menu li {
	float: left;
	margin: 2px 0;
	width: 50%;
}
.bottom-logo {
	text-align: center;
	padding: 30px 0;
}
.bottom-logo h1.logo {
	font-size: 40px;
	margin: 0;
}
.bottom-logo .social::before,
.post-share::before {
	background: rgba(0, 0, 0, 0) url("./images/patern-1.png") no-repeat scroll right center;
	content: "";
	display: inline-block;
	height: 10px;
	margin-right: 10px;
	width: 30px;
}
.bottom-logo .social::after,
.post-share::after {
	background: rgba(0, 0, 0, 0) url("./images/patern-1.png") no-repeat scroll right center;
	content: "";
	display: inline-block;
	height: 10px;
	margin-left: 10px;
	width: 30px;
}
.bottom-logo .social ul,
.post-share ul {
	display: inline;
}
.bottom-logo .social li,
.post-share li {
	display: inline-block;
	margin: 30px 4px 0 4px;
}
.bottom-logo .social li a,
.post-share li a {
	border: 1px solid #333;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	width: 30px;
	height: 30px;
	display: block;
}
.bottom-logo .social li a:hover,
.post-share li a:hover {
	background: #333;
	transition-duration: .2s;
}

.bottom-logo .social li a:hover i,
.post-share li a:hover i {
	color: #fff;
}
.bottom-logo .social li a i,
.post-share li a i {
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
/*OFFCANVAS*/
#off-canvas-toggle {
	border-right: 1px solid;
	display: inline-block;
	height: 38px;
	margin-right: 20px;
	min-width: 50px;
	padding: 0 20px 0 0;
}
#off-canvas-toggle span {
	background: #000 none repeat scroll 0 0;
	display: inherit;
	height: 2px;
	position: relative;
	width: 25px;
}
#off-canvas-toggle span::before,
#off-canvas-toggle span::after {
	background: #000 none repeat scroll 0 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
}
#off-canvas-toggle span::after {
	top: -5px;
	width: 20px;
}
#off-canvas-toggle span::before {
	top: -10px;
	width: 15px;
}
#off-canvas-toggle:hover span::before {
	width: 25px;
}
#off-canvas-toggle:hover span {
	width: 15px;
	margin-right: 10px;
}
#off-canvas-toggle p {
	margin-left: 10px;
	display: inline;
}
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#sidebar-wrapper {
	background: #fff none repeat scroll 0 0;
	height: 100%;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	width: 0;
	z-index: 1000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
	width: 350px;
}
#page-content-wrapper {
	width: 100%;
	position: absolute;
}
#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -350px;
}
.sidebar-inner {
	padding: 20px;
}
.sidebar-inner h4.widget-title {
	background: #000 none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 16px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
#wrapper {
	position: relative;
	padding-left: 0;
}
#sidebar-wrapper {
	width: 0;
}
#wrapper.toggled #sidebar-wrapper {
	width: 350px;
	border-right: 1px solid;
}
.boxed #sidebar-wrapper {
	border-left: 1px solid;
}
#page-content-wrapper {
	position: relative;
}
#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: 0;
}
.off-canvas-close {
	height: 20px;
	margin-bottom: 10px;
	position: relative;
}
.off-canvas-close span {
	float: right;
	padding-right: 25px;
	position: relative;
}
.off-canvas-close span::after,
.off-canvas-close span::before {
	background: #000 none repeat scroll 0 0;
	content: "";
	height: 2px;
	position: absolute;
	right: 0;
	width: 20px;
	margin-top: 10px;
}
.off-canvas-close span::before {
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.off-canvas-close span::after {
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
#wrapper.toggled #off-canvas-toggle span::before {
	top: -5px !important;
	width: 20px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
#wrapper.toggled #off-canvas-toggle span::after {
	top: -5px !important;
	width: 20px;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled #off-canvas-toggle span {
	background: none;
}
/*footer*/
.alith_footer_bg {
	background: #222;
	color: #fff;
	-webkit-clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%)
}

.container-fluid .center{
	display: flex;
	justify-content: center;

}
@media (max-width:700px){
	.container-fluid .center{
		flex-direction: column;
		
	
}


}


/*gototop*/
.gototop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease
}
.gototop.active {
	opacity: 1;
	visibility: visible
}
.gototop a {
	background: rgba(0, 0, 0, 0) url("./images/icon-up.png") no-repeat scroll center top;
	display: table;
	font-size: 12px;
	height: 40px;
	padding-top: 30px;
	text-align: center;
	width: 40px;
	transition-duration: .2s;
}
.gototop a i {
	height: 50px;
	display: table-cell;
	vertical-align: middle
}
.gototop a:hover,
.gototop a:active,
.gototop a:focus {
	text-decoration: none;
	outline: none
}
.gototop:hover a {
	padding-top: 35px;
	transition-duration: .2s;
}
.js .animate-box {
	opacity: 0
}

.error-size{
	max-width: 60%;
	margin: auto;
}

.error-size .jumbotron{
	background-color: #ecdcdc;
	border-style: solid;
	border-color: rgb(29, 27, 27);
	box-shadow: 10px 10px rgb(78, 76, 77);
}

.error-size h1{
	text-align: center;
	text-shadow: rgba(10, 10, 10, 0.2);
}


.content{
	margin-left: auto ;
	margin-right: auto;
}

